{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" autocomplete="off">
        {% csrf_token %}
        <p>Livraria django </p>
        <h1 class="h3 mb-3 font-weight-normal">Informe seus dados</h1>
        <label for="username" class="sr-only">E-mail</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="informe seu E-Mail" required autofocus>

        <label for="password" class="sr-only">E-mail</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="informe sua Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
    </form>
{% endblock %}